@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
    
}
/* dark-1 */
.text-deep-gray{
    color: #131313;
}

/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}
/* background color */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    
}
.btn-primary{
    color: white;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700; 
}

/* header styles */


/* navbar related styles */
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar{
    justify-content:space-between;
    align-items: center;
    
}

 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    
}
.banner-image{
    width: 100%;
    /* margin: 50px 240px; */
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 537px;
}
#quick-list{
    font-size: 2.8rem;
    font-weight: 500;
}

#feature{
    font-size: 2.8rem;
    color: #FF900E;
}
.feature-description{
    margin: 24px 0 ;
}

/* feature section styles */
.feature-section{
    gap: 140px;
}

.feature-title{
    max-width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-subtitle{
    max-width: 586px;
    margin-bottom: 30px;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-subtitle{
    max-width: 514px;
}
.feature-card{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    /* margin-bottom: 0px; */
}

#experience-year{
    font-size: 4em;
    font-weight: 700;
}
#experience{
     font-size: 1.5em;
    font-weight: 500;
}
#experience-badge{
    padding: 40px;
    margin-left: -100px;
    margin-top: -100px;
    cursor:initial;
}
.feature-architect img{
    width: 100%;
}
/* some facts styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.facts-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 240px;
    width: 240px;
    margin-top: 100px;
}
.facts-number{
    margin-top: 10px;
    margin-bottom: 5px;
}
.facts-name{
    font-size: 1.25rem;
    font-weight: 600;
}

/* our sponsors styles */
.sponsors-info{
   max-width:  540px;
   margin: 50px auto;
   text-align: center;
    
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   margin-left: 60px;
}
.sponsors-companies img{
    filter: grayscale(100%);
}
/* footer section styles */
.footer{
    max-width: 1440px;
    height: 100px;
    background-color: rgba(255, 244, 231, 1);
    text-align: center;
    justify-content: center;
    margin: 130px auto;
}
.footer-info{
    font-size: 1.5rem;
    padding-top:35px;
    /* margin: 50px auto; */
}
.foot-content{
    margin: 50px auto;
    width: 100%;

}
/* responsive media query */
@media screen and (max-width:576px) {
    .nav-links,
    .navbar,
    .teams,
    .feature-section{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container, .sponsors-companies{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        gap: 24px;
        margin-left: 40px;
    }
    .footer-info{
        margin: 0 30px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* responsive for medium size devices */
@media screen  and (min-width: 576px) and (max-width: 992px) {
    .teams, .feature-section{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .facts-container, .sponsors-companies{
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
         align-items: center;
         margin-left: 50px;
         gap: 20px;

    }
    .footer-info{
        padding: 0 30px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
   

}
    
